window { background: transparent; }
window#osd {
  background: transparent;
  border: none;
  box-shadow: none;
}
window#osd #container,
window#osd-container {
  background-color: @base01@;
  border: 2px solid @base0D@;
  border-radius: 32px;
  padding: 16px;
  margin: 16px;
  min-width: 250px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
}
trough {
  background-color: @base02@;
  border-radius: 99px;
  border: none;
  min-height: 12px;
  min-width: 200px;
}
progress {
  background-image: linear-gradient(to right, @base0D@, @base0E@);
  border-radius: 99px;
  border: none;
  min-height: 12px;
  margin: 0px;
  padding: 0px;
  min-width: 0px;
}
label {
  color: @base05@;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 8px;
}
image {
  color: @base0D@;
  -gtk-icon-style: symbolic;
}
